@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #ffffff;
  --tertiray: #171717;
}

@theme{
  --primary: var(--primary);
  --secondary: var(--secondary);
  --tertiary: var(--tertiary);
}
